### 시리즈(Series)
데이터가 순차적으로 나열된 1차원 배열(리스트)이다.
인덱스(index)는 데이터값(value)와 일대일 대응함.

In [3]:
# pandas (외부 라이브러리) 설치
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas
# s = pandas.Series(["사과", "감", "바나나"])
s = pandas.Series(["사과", "감", "바나나"], index=[1, 2, 3])
print(s)

print(s.index)
print(type(s))

1     사과
2      감
3    바나나
dtype: object
Index([1, 2, 3], dtype='int64')
<class 'pandas.core.series.Series'>

In [17]:
import pandas as pd

s = pd.Series([3000, 2000, 1000])
s.index = [1, 2, 3]
print(s)

1    3000
2    2000
3    1000
dtype: int64

### DataFrame
Series들을 결합한 형태이다.<br>
행과 열을 가진 2차원 리스트 형태이다.

In [26]:
import pandas as pd

name = pandas.Series(["사과", "감", "바나나"])
price = pd.Series([3000, 2000, 1000])

data = {
    "name": name,
    "price": price
}
# 데이터 프레임 만들기
df = pd.DataFrame(data)
df
type(df)

df.columns

Index(['name', 'price'], dtype='object')

In [46]:
import pandas as pd
# 방법2 - 데이터 프레임 만들기
data = {
    "name": ["사과", "감", "바나나"],
    "price": [3000, 2000, 1000]
}

df = pd.DataFrame(data)
df

# 칼럼 이름 변경 - rename()
df_new = df.rename(columns={"name": "이름", "price": "가격"})
df_new

# 새 칼럼 추가
df_new["중량"] = "100g"
df_new

# 데이터의 정보
df_new.info()

# to_csv(파일 이름) : df_new를 csv파일로 저장하기(쓰기)
df_new.to_csv("data/fruit.csv", index=False)

# read_csv(파일이름) : 파일 읽기
fruit = pd.read_csv("data/fruit.csv")
fruit

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      3 non-null      object
 1   가격      3 non-null      int64
 2   중량      3 non-null      object
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

    이름    가격    중량
0   사과  3000  100g
1    감  2000  100g
2  바나나  1000  100g

In [54]:
import pandas as pd

df = pd.DataFrame({
   "메뉴": ['아메리카노', '카페라떼', '카페모카', '카푸치노', '에스프레소', '밀크티', '녹차'], 
   "가격": [4500, 5000, 5500, 5000, 4000, 5900, 5300],
   "칼로리": [10, 110, 250, 110, 20, 210, 0]
})
df

# csv파일로 저장
df.to_csv("data/cafe.csv", index=False)

In [116]:
# csv 파일 읽기
df = pd.read_csv("data/cafe.csv")

# 데이터 정보
# df.info()

# head(), tail() - 상위, 하위 5개 출력
df.head()
# df.tail()

# 통계 요약
df.describe(include="number")  #숫자 칼럼, include="number" 생락 가능
# df.describe(include="object")  #문자열 칼럼

# astype() : 칼로리 자료형 변환 -> 실수형
df['칼로리'] = df['칼로리'].astype("float")
df['칼로리']

# 파생 칼럼 생성 - 할인가(가격 20% 할인)
df['할인가'] = df['가격'] * 0.8
df

# astype() : 칼로리 자료형 변환 -> 정수형
df['할인가'] = df['할인가'].astype("int")

# 할인가를 할인가격으로 이름 변경
# df = df.rename(columns={"할인가" : "할인가격"})
df.rename(columns={"할인가" : "할인가격"}, inplace=True)
df

# cafe2.csv로 저장
# df.to_csv("data/cafe2.csv", index=False)

      메뉴    가격    칼로리  할인가격
0  아메리카노  4500   10.0  3600
1   카페라떼  5000  110.0  4000
2   카페모카  5500  250.0  4400
3   카푸치노  5000  110.0  4000
4  에스프레소  4000   20.0  3200
5    밀크티  5900  210.0  4720
6     녹차  5300    0.0  4240

In [108]:
import pandas as pd

df = pd.read_csv("data/cafe2.csv")
df

      메뉴    가격    칼로리  할인가격
0  아메리카노  4500   10.0  3600
1   카페라떼  5000  110.0  4000
2   카페모카  5500  250.0  4400
3   카푸치노  5000  110.0  4000
4  에스프레소  4000   20.0  3200
5    밀크티  5900  210.0  4720
6     녹차  5300    0.0  4240