In [33]:
import pandas as pd

# 방법1 - 키(칼럼), 밸류(값)
df = pd.DataFrame({
    "name": ["키보드", "마우스", "모니터"],
    "price": [17000, None, 78000],
    "spec": ["유선", "무선", "22inch"]
})
df

# 칼럼 검색
df["name"]
df[["name", "price"]]

# 데이터 프레임 정보 - info(), float-실수형, object-문자형
df.info()

# head() - 기본 5개, tail()
df.head(2) 
df.tail(1)

# 결측치(null) - NaN(Not a Number)
# True-1, False-0
df.isnull()
df.isnull().sum()

# 데이터 통계 요약 - describe() : include="number" (생략가능)
df.describe()
df.describe(include="object")

# 칼럼 이름 변경 - rename()
df = df.rename(columns={"name": "이름", "price": "가격", "spec": "스펙"})
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    3 non-null      object
 1   price   2 non-null      float64
 2   spec    3 non-null      object
dtypes: float64(1), object(2)
memory usage: 204.0+ bytes

         이름  스펙
count     3   3
unique    3   3
top     키보드  유선
freq      1   1